<!-- <div class="card"> -->
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <img src='{{ "../../../../assets/img/" + prize.id + ".jpeg" }}' class="card-img-top" alt="">

  <div class="card-body">
    <h5 class="card-title">{{prize.name}}</h5>
    <p class="card-text">{{prize.description}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let detail of prize.details">{{detail}}</li>
    </ul>
  </div>
  <!-- <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div> -->
<!-- </div> -->
